*{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 0;
  margin: 0;
  
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div a{
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin-right: 50px;
}

div a.active{
  border-bottom: 2px solid #000;
  font-weight: 700;
  
}

div ul li{
    position: relative;
}
div ul li:nth-child(2){
    top: -130px;
}
div ul li:nth-child(3){
    top: -260px;
}

input[type="tel"] {
  background-image: url("./Components/Assets/flag.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-right: 20px; 
  background-size: 30px;
}

